@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");
html {
  font-size: 62.5%; }

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
  background-color: #f9f8f6; }

header {
  height: 90px; }
  @media (min-width: 550px) {
    header {
      height: 100px;
      margin-top: 35px; } }
  @media (min-width: 550px) {
    header #header_in {
      margin: 0 auto; } }
  header #header_in #logo {
    height: 25px;
    text-align: center;
    margin-top: 15px; }
    @media (min-width: 550px) {
      header #header_in #logo {
        text-align: left;
        height: 40px; } }
    header #header_in #logo .logo_link {
      height: 25px; }
      header #header_in #logo .logo_link img {
        vertical-align: middle;
        width: 98px;
        height: 25px; }
        @media (min-width: 550px) {
          header #header_in #logo .logo_link img {
            width: 140px;
            height: 40px; } }
  header #header_in #pc_navi {
    display: none; }
    @media (min-width: 550px) {
      header #header_in #pc_navi {
        display: block;
        height: 27px;
        margin-top: 23px; }
        header #header_in #pc_navi .clearfix::after {
          clear: both;
          content: ''; } }
    header #header_in #pc_navi .pc_navi_li {
      text-align: right;
      margin: 0; }
      header #header_in #pc_navi .pc_navi_li li {
        display: inline-block;
        list-style: none;
        margin: 0 0 0 20px;
        vertical-align: bottom; }
        header #header_in #pc_navi .pc_navi_li li a img {
          vertical-align: bottom; }
  header #header_in #icons {
    height: 24px;
    margin-top: 12px; }
    @media (min-width: 550px) {
      header #header_in #icons {
        margin-top: 28px;
        vertical-align: bottom; } }
    header #header_in #icons .icon_link {
      display: flex;
      height: 24px;
      justify-content: center;
      margin: 0;
      margin: 0; }
      @media (min-width: 550px) {
        header #header_in #icons .icon_link {
          height: 20px; } }
      header #header_in #icons .icon_link li {
        list-style: none;
        margin: 0 12px 0 0;
        display: flex;
        text-align: center;
        height: 23px; }
        @media (min-width: 550px) {
          header #header_in #icons .icon_link li {
            height: 20px; }
            header #header_in #icons .icon_link li:nth-child(3) {
              display: none; } }
        @media (min-width: 550px) {
          header #header_in #icons .icon_link li a {
            vertical-align: bottom; } }
        header #header_in #icons .icon_link li a img {
          width: 23px;
          height: 23px;
          display: inline-block;
          vertical-align: middle; }
          @media (min-width: 550px) {
            header #header_in #icons .icon_link li a img {
              width: 20px;
              height: 20px;
              margin: 0; } }
        header #header_in #icons .icon_link li #sp_navi_btn {
          width: 23px;
          height: 23px; }
      header #header_in #icons .icon_link .sp_navi {
        position: relative; }
        header #header_in #icons .icon_link .sp_navi .sp_navi_li {
          position: fixed;
          top: 78px;
          left: 0;
          text-align: left;
          font-size: 15px;
          font-size: 1.5rem;
          display: none;
          margin: 0;
          z-index: 100;
          background-color: #ff6d77;
          width: 100%;
          height: 210px; }
          @media (min-width: 550px) {
            header #header_in #icons .icon_link .sp_navi .sp_navi_li {
              display: none; } }
          header #header_in #icons .icon_link .sp_navi .sp_navi_li li {
            border-bottom: 1px solid white;
            height: 42px;
            margin: 0 30px; }
            header #header_in #icons .icon_link .sp_navi .sp_navi_li li a {
              text-decoration: none;
              color: #f9f8f6;
              line-height: 42px; }
          header #header_in #icons .icon_link .sp_navi .sp_navi_li li:first-child {
            margin-top: 10px; }
          header #header_in #icons .icon_link .sp_navi .sp_navi_li li:nth-last-child(1) {
            border: none; }
          @media (min-width: 550px) {
            header #header_in #icons .icon_link .sp_navi .sp_navi_li {
              display: none; } }

main #main #cover_area .pankuzu {
  background-color: #e2ddd4;
  color: #887f69;
  height: 34px;
  margin-bottom: 12px;
  display: flex;
  align-items: center; }
  main #main #cover_area .pankuzu ul {
    font-size: 11px;
    list-style: none;
    display: flex;
    margin: 0px; }
    main #main #cover_area .pankuzu ul li {
      margin: 0 0 0 9px; }
main #main #cover_area .list_cover {
  width: 100%; }
  main #main #cover_area .list_cover .list_cover_sp {
    width: 100%;
    margin-bottom: 10px; }
    @media (min-width: 550px) {
      main #main #cover_area .list_cover .list_cover_sp {
        display: none; } }
  main #main #cover_area .list_cover .list_cover_pc {
    width: 100%;
    display: none; }
    @media (min-width: 550px) {
      main #main #cover_area .list_cover .list_cover_pc {
        display: block;
        margin-bottom: 10px; } }
@media (min-width: 550px) {
  main #main .contents_wrapper .title_wrapper {
    margin-bottom: 20px; } }
main #main .contents_wrapper .title_wrapper .sp_title {
  text-align: center;
  margin: 0;
  margin-bottom: 15px;
  height: 30px; }
  @media (min-width: 550px) {
    main #main .contents_wrapper .title_wrapper .sp_title {
      display: none; } }
  main #main .contents_wrapper .title_wrapper .sp_title .img_new_item {
    width: 97px;
    height: 12px;
    vertical-align: middle; }
  main #main .contents_wrapper .title_wrapper .sp_title .img_popular {
    width: 138px;
    height: 13px;
    vertical-align: middle; }
  main #main .contents_wrapper .title_wrapper .sp_title .img_guide {
    width: 156px;
    height: 13px;
    vertical-align: middle; }
main #main .contents_wrapper .title_wrapper .pc_title {
  display: none;
  margin: 0; }
  @media (min-width: 550px) {
    main #main .contents_wrapper .title_wrapper .pc_title {
      display: block; }
      main #main .contents_wrapper .title_wrapper .pc_title img {
        width: 100%; } }
main #main .contents_wrapper .contents_box ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0; }
  main #main .contents_wrapper .contents_box ul li {
    width: 49%;
    text-align: center;
    margin-bottom: 8px;
    background-color: #fff; }
    @media (min-width: 550px) {
      main #main .contents_wrapper .contents_box ul li {
        width: 33%;
        margin: 0 0 3px; } }
    main #main .contents_wrapper .contents_box ul li img {
      padding: 7%;
      width: 86%; }
      @media (min-width: 550px) {
        main #main .contents_wrapper .contents_box ul li img {
          padding-bottom: 4%; } }
    main #main .contents_wrapper .contents_box ul li p {
      font-size: 8px;
      width: 85%;
      text-align: left;
      margin: 0px auto 10px; }
      main #main .contents_wrapper .contents_box ul li p:nth-child(3) {
        margin-bottom: 20px; }
        @media (min-width: 550px) {
          main #main .contents_wrapper .contents_box ul li p:nth-child(3) {
            margin-bottom: 20px; } }
      @media (min-width: 550px) {
        main #main .contents_wrapper .contents_box ul li p {
          font-size: 12px;
          margin: 0 auto 10px; } }
main #main .contents_wrapper .BN_box {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; }
  main #main .contents_wrapper .BN_box .BN_btn {
    border-radius: 0;
    color: #fff;
    background-color: #887f69;
    width: 121px;
    height: 40px;
    font-size: 14px; }
@media (min-width: 550px) {
  main #main .contents_wrapper .guide_wrapper {
    display: flex;
    justify-content: center; } }
main #main .contents_wrapper .guide_wrapper .guide {
  background-color: #fff;
  padding: 15px 20px 34px;
  margin-bottom: 10px; }
  @media (min-width: 550px) {
    main #main .contents_wrapper .guide_wrapper .guide {
      width: 342px;
      height: 264px;
      padding: 16px;
      margin: 2px; } }
  main #main .contents_wrapper .guide_wrapper .guide h5 {
    font-size: 16px;
    color: #887f69;
    font-weight: bold;
    margin-bottom: 0; }
    @media (min-width: 550px) {
      main #main .contents_wrapper .guide_wrapper .guide h5 {
        margin-bottom: 0px; } }
  main #main .contents_wrapper .guide_wrapper .guide img {
    width: 175px;
    margin-top: 8px; }
    @media (min-width: 550px) {
      main #main .contents_wrapper .guide_wrapper .guide img {
        margin-top: 8px;
        width: 100%;
        max-width: 175px; } }
  main #main .contents_wrapper .guide_wrapper .guide ul {
    list-style: none;
    margin: 0; }
    main #main .contents_wrapper .guide_wrapper .guide ul li h6 {
      justify-content: center;
      color: #887f69;
      font-size: 12px;
      margin: 0; }
      main #main .contents_wrapper .guide_wrapper .guide ul li h6 span {
        font-size: 18px;
        width: 18px;
        height: 18px;
        vertical-align: middle; }
    main #main .contents_wrapper .guide_wrapper .guide ul li p {
      font-size: 12px;
      margin: 0; }
    main #main .contents_wrapper .guide_wrapper .guide ul li img {
      width: 286px; }
      @media (min-width: 550px) {
        main #main .contents_wrapper .guide_wrapper .guide ul li img {
          margin: 4px 0 0;
          width: 100%;
          max-width: 286px; } }
main #main .products_box {
  background-color: #fff;
  margin: 0 -30px;
  padding: 0 30px; }
  @media (min-width: 550px) {
    main #main .products_box {
      padding: 0 60px; } }
main #main .pro_name {
  height: 72px;
  border-bottom: 1px solid #e2ddd4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px; }
  @media (min-width: 550px) {
    main #main .pro_name {
      display: flex;
      flex-direction: row;
      justify-content: space-between; } }
  main #main .pro_name h3 {
    font-size: 14px;
    font-weight: bold;
    margin: 0; }
    @media (min-width: 550px) {
      main #main .pro_name h3 {
        margin: 30px 0 20px; } }
  main #main .pro_name p {
    font-size: 10px;
    color: #887f69;
    margin: 0; }
    @media (min-width: 550px) {
      main #main .pro_name p {
        margin: 30px 0 20px; } }
@media (min-width: 550px) {
  main #main .products_img {
    display: flex;
    border-bottom: 1px solid #e2ddd4;
    padding-bottom: 10px; } }
@media (min-width: 550px) {
  main #main .products_img .main_img {
    width: 70%; } }
main #main .products_img .main_img .img_content {
  margin: 0;
  list-style: none; }
  main #main .products_img .main_img .img_content li {
    display: none;
    list-style: none;
    margin: 0; }
    main #main .products_img .main_img .img_content li img {
      width: 100%; }
@media (min-width: 550px) {
  main #main .products_img .img_list {
    width: 30%; } }
main #main .products_img .img_list ul {
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px solid #e2ddd4; }
  @media (min-width: 550px) {
    main #main .products_img .img_list ul {
      border: none;
      justify-content: right;
      padding: 0; } }
  main #main .products_img .img_list ul li {
    background-color: red;
    margin: 0;
    width: 19%;
    margin-bottom: 1%; }
    @media (min-width: 550px) {
      main #main .products_img .img_list ul li {
        width: 40%;
        margin: 0 0 8% 9%; } }
    main #main .products_img .img_list ul li img {
      display: block;
      width: 100%; }
main #main .pro_desc1 .pro_CS {
  padding-bottom: 12px;
  border-bottom: 1px solid #e2ddd4; }
  @media (min-width: 550px) {
    main #main .pro_desc1 .pro_CS {
      border: none; } }
  main #main .pro_desc1 .pro_CS img {
    margin: 14px 0 12px; }
  main #main .pro_desc1 .pro_CS table {
    width: 100%;
    border: 1px solid #e2ddd4;
    color: #887f69;
    font-size: 12px; }
    main #main .pro_desc1 .pro_CS table td {
      border: 1px solid #e2ddd4;
      padding: 0;
      width: 33%;
      height: 40px;
      text-align: center;
      background-color: #f9f9f5; }
      main #main .pro_desc1 .pro_CS table td input {
        margin: 0;
        vertical-align: middle;
        border-radius: 0;
        border: 1px solid #e2ddd4; }
    main #main .pro_desc1 .pro_CS table .td_white {
      background-color: #fff; }
@media (min-width: 550px) {
  main #main .pro_desc1 .pro_PQ {
    display: flex;
    justify-content: space-between; } }
@media (min-width: 550px) {
  main #main .pro_desc1 .pro_PQ .PQ {
    width: 70%; } }
main #main .pro_desc1 .pro_PQ .PQ .price {
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #e2ddd4; }
  @media (min-width: 550px) {
    main #main .pro_desc1 .pro_PQ .PQ .price {
      border-top: 1px solid #e2ddd4; } }
  main #main .pro_desc1 .pro_PQ .PQ .price img {
    width: 42px;
    height: 11px;
    margin-right: 25%; }
  main #main .pro_desc1 .pro_PQ .PQ .price h6 {
    font-size: 14px;
    font-style: italic;
    margin: 0; }
    main #main .pro_desc1 .pro_PQ .PQ .price h6 .span1 {
      color: #e80f66; }
    main #main .pro_desc1 .pro_PQ .PQ .price h6 .span2 {
      font-size: 22px;
      color: #e80f66; }
main #main .pro_desc1 .pro_PQ .PQ .quantity {
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #e2ddd4; }
  main #main .pro_desc1 .pro_PQ .PQ .quantity img {
    width: 56px;
    height: 15px;
    margin-right: 20%; }
  main #main .pro_desc1 .pro_PQ .PQ .quantity input {
    width: 139px;
    height: 36px;
    border-radius: 0;
    padding: 0;
    margin: 0; }
    @media (min-width: 550) {
      main #main .pro_desc1 .pro_PQ .PQ .quantity input {
        width: 100%; } }
@media (min-width: 550px) {
  main #main .pro_desc1 .pro_PQ .PQ {
    width: 60%; } }
main #main .pro_desc1 .pro_PQ .cart {
  height: 87px;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (min-width: 550px) {
    main #main .pro_desc1 .pro_PQ .cart {
      width: 30%;
      height: 55px;
      position: relative; } }
  main #main .pro_desc1 .pro_PQ .cart button {
    height: 10px;
    border-radius: 0;
    margin: 0;
    padding: 0; }
    @media (min-width: 550px) {
      main #main .pro_desc1 .pro_PQ .cart button {
        position: absolute;
        top: 0; } }
    main #main .pro_desc1 .pro_PQ .cart button img {
      width: 225px; }
      @media (min-width: 550px) {
        main #main .pro_desc1 .pro_PQ .cart button img {
          width: 100%; } }
main #main .pro_desc2 .desc2_title {
  padding: 15px 0;
  border-bottom: 1px solid #887f69; }
  main #main .pro_desc2 .desc2_title h3 {
    margin: 0;
    font-size: 16px;
    color: #887f69; }
main #main .pro_desc2 .desc2_body {
  padding-bottom: 50px; }
  main #main .pro_desc2 .desc2_body h3 {
    margin: 0;
    font-size: 16px;
    color: #887f69;
    padding: 16px 0; }
  main #main .pro_desc2 .desc2_body p {
    font-size: 14px; }
  main #main .pro_desc2 .desc2_body table {
    width: 100%;
    margin: 0; }
    main #main .pro_desc2 .desc2_body table td {
      border: 1px solid #e2ddd4;
      color: #887f69;
      font-size: 12px;
      background-color: #f9f9f5;
      margin: 0;
      padding: 0;
      width: 30%;
      height: 55px;
      text-align: center; }
    main #main .pro_desc2 .desc2_body table .td_white {
      background-color: #fff;
      width: 70%;
      text-align: left;
      padding: 0 12px; }

#sidebar .search {
  display: flex;
  width: 100%;
  height: 77px;
  margin: 0 auto;
  background-color: #ffffff; }
  @media (min-width: 550px) {
    #sidebar .search {
      display: block;
      width: 100%;
      height: 92px; } }
  #sidebar .search h3 {
    margin: 0;
    padding-top: 16px;
    display: none; }
    @media (min-width: 550px) {
      #sidebar .search h3 {
        display: block;
        font-size: 12px;
        margin-left: 20px; } }
  #sidebar .search .search_box {
    width: 85%;
    height: 35px;
    margin: 20px auto 22px auto;
    position: relative; }
    @media (min-width: 550px) {
      #sidebar .search .search_box {
        width: 85%;
        margin: 0 auto;
        margin-top: 6px; } }
    #sidebar .search .search_box .input_area {
      border: none;
      background-color: #eeeeee;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      font-style: italic;
      font-size: 11px;
      border-radius: 0; }
      @media (min-width: 550px) {
        #sidebar .search .search_box .input_area {
          width: 100%;
          height: 30px; } }
    #sidebar .search .search_box img {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 10px;
      right: 10px; }
      @media (min-width: 550px) {
        #sidebar .search .search_box img {
          top: 5px; } }
@media (min-width: 550px) {
  #sidebar .sidemenu {
    width: 100%; } }
#sidebar .sidemenu .side_label .side_title {
  background-color: #887f69;
  height: 45px;
  width: 100%;
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
  position: relative; }
  @media (min-width: 550px) {
    #sidebar .sidemenu .side_label .side_title {
      width: 100%;
      height: 45px; } }
  #sidebar .sidemenu .side_label .side_title:nth-child(1) {
    margin-top: 15px; }
  #sidebar .sidemenu .side_label .side_title h4 {
    font-size: 12px;
    color: white;
    margin: auto 0 auto 18px; }
  #sidebar .sidemenu .side_label .side_title span {
    margin: 0;
    position: absolute;
    top: 12.25px;
    right: 11px; }
#sidebar .sidemenu .side_label .side_ul {
  list-style: none;
  display: none; }
  #sidebar .sidemenu .side_label .side_ul li {
    width: 100%;
    height: 45px;
    background-color: #fff;
    margin-bottom: 1px;
    font-size: 12px;
    position: relative; }
    #sidebar .sidemenu .side_label .side_ul li:first-child {
      color: gray;
      color: #e0dddd; }
    #sidebar .sidemenu .side_label .side_ul li p {
      position: absolute;
      top: 12.5px;
      left: 18px; }
    #sidebar .sidemenu .side_label .side_ul li span {
      position: absolute;
      top: 12.25px;
      right: 11px; }
#sidebar .sidemenu .side_label .side_box {
  background-color: #fff;
  display: flex;
  width: 100%; }
  @media (min-width: 550px) {
    #sidebar .sidemenu .side_label .side_box {
      display: block;
      text-align: center;
      width: 100%; } }
  #sidebar .sidemenu .side_label .side_box .side_img {
    width: 40%;
    padding: 5%; }
    @media (min-width: 550px) {
      #sidebar .sidemenu .side_label .side_box .side_img {
        width: 90%;
        padding: 5%; } }
    #sidebar .sidemenu .side_label .side_box .side_img img {
      width: 100%; }
      @media (min-width: 550px) {
        #sidebar .sidemenu .side_label .side_box .side_img img {
          width: 100%;
          margin: 0;
          vertical-align: middle; } }
  #sidebar .sidemenu .side_label .side_box .side_desc {
    width: 40%;
    padding: 5%; }
    @media (min-width: 550px) {
      #sidebar .sidemenu .side_label .side_box .side_desc {
        width: 90%;
        padding: 5%; } }
    #sidebar .sidemenu .side_label .side_box .side_desc p {
      font-size: 12px;
      margin: 0;
      margin-bottom: 10px;
      width: 100%; }
      @media (min-width: 550px) {
        #sidebar .sidemenu .side_label .side_box .side_desc p {
          text-align: left;
          margin: 0; } }
    #sidebar .sidemenu .side_label .side_box .side_desc button {
      padding: 0;
      margin: 0;
      border: none;
      width: 70%;
      height: 30px; }
      @media (min-width: 550px) {
        #sidebar .sidemenu .side_label .side_box .side_desc button {
          width: 60%;
          margin-top: 10%; }
          #sidebar .sidemenu .side_label .side_box .side_desc button img {
            width: 100%; } }

footer .top_btn {
  margin: 20px auto 20px;
  text-align: center; }
  @media (min-width: 550px) {
    footer .top_btn {
      margin: 28px auto 0; } }
  footer .top_btn .top_button {
    padding: 0;
    border: none;
    margin: 0;
    border: none; }
    @media (min-width: 550px) {
      footer .top_btn .top_button {
        margin: 30px 0 0 88%; } }
    footer .top_btn .top_button a {
      width: 100%;
      height: 100%; }
      footer .top_btn .top_button a img {
        width: 94px;
        height: 14px; }
footer #footer_in {
  border-top: 1px solid #887f69;
  height: 150px; }
  @media (min-width: 550px) {
    footer #footer_in {
      height: 240px; } }
  footer #footer_in .footer_menu {
    text-align: center; }
    footer #footer_in .footer_menu p {
      width: 278px;
      height: 30px;
      font-size: 12px;
      margin: 20px auto 12px; }
      @media (min-width: 550px) {
        footer #footer_in .footer_menu p {
          width: 100%;
          margin: 24px auto;
          height: 12px; } }
  footer #footer_in .copy {
    text-align: center; }
    footer #footer_in .copy p {
      font-size: 10px;
      color: #887f69;
      width: 100%;
      margin: 0; }

.owl-theme .owl-dots .owl-dot span {
  width: 25px;
  height: 2px; }
  @media (min-width: 550px) {
    .owl-theme .owl-dots .owl-dot span {
      width: 25px;
      height: 2px;
      margin: 12px 11px 0 0;
      background: #D6D6D6;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 0px; } }

@media (min-width: 550px) {
  .owl-dots {
    margin-top: 0; } }
.owl-dots .owl-dot {
  float: left;
  height: 4px; }
  @media (min-width: 550px) {
    .owl-dots .owl-dot {
      margin: 0; } }

@media (min-width: 550px) {
  .owl-theme .owl-nav.disabled + .owl-dots {
    margin: 0;
    margin: 0 0 0 auto; } }

/*# sourceMappingURL=style.css.map */
